database_path: 'databases'
project_id: ## ENA/GenBank ID, e.g. "PRJNA...."
genome_size: # estimated size of genome in base pairs
gram: '+' # or '-'
gtdb_version: '226'
kraken_db_version: '20260226'
# Following lines are for completing manifests. 
short_read_instrument: # Sequencing platform used for short reads, e.g. "Illumina MiSeq"
long_read_instrument: # Sequencing platform used for long reads, e.g. "Oxford Nanopore MinION"